.card-nota {
  color : rebeccapurple;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 4px;
  flex-wrap: wrap;
  box-shadow: 0 0 4 px rgba(0,0,0,0.3);
  padding : 16px;
}
.card-title {
  margin-right: 12px;
  font-size: 1.2em;
}
.card-body {
  margin-top: 8px;
  font-size: 1em;
}